<!doctype html>
<html lang="en" ng-app="scotchApp">
<head>

  <meta charset="utf-8">
  <title>FB Albums</title>
  <base href="/">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.2.1/angular-route.min.js"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- This JS file contains all the Main controller -->
  <script src="assets/Functions.js"></script>

</head>

<body ng-controller="mainController">

    <!-- place holder for the Facebook JS script -->
    <div id="fb-root"></div>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-primary ">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Fb Albums</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" ng-click="Home()">Home</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <!-- Facebook Login button -->
            <fb:login-button
                  id="fb-btn"
                  scope="public_profile,email,user_birthday,user_location,user_posts,user_photos"
                  onlogin="window.fbAsyncInit()">
            </fb:login-button>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
  <div>
    
   <button id="myButton" class="button" ng-click ="HideButton()"><span>Check your Albums </span></button>
    
    <div class="container">
      <h3 id="heading">Log in to view your profile</h3>
      
      <!-- This calls for a function that displays the user informations -->
      <div id="profile"></div> 
    </div>
    
    <div class="space">
      <div class="gallery" ng-repeat="receiver in receivers">
        <a id="pictures" href="#album" ng-click="getdetails(receiver.id)">
          <figure>
            <img class="album" src={{receiver.image}}>
          </figure>
        </a>
        <div class="desc"> {{receiver.name}}  </div>
      </div>  
    </div>     
    
    <!-- This helps display the content of the first feed : User Albums with their names, and show it onthe previosu div tag -->
    <div id="feed"></div>

    <!-- This helps display the content of the econd feed : User Album photos with download option -->
    <div id="feed2"></div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Go back to Top</button>
  </div>

  <app-root ></app-root>

</body>
</html>


