#fb-btn{
    margin-top:8px; 
    margin-left: 90px;
}
#profile, #logout, #feed{
    display:none
}
#image {
    width: 300px;
    height: 200px;
    vertical-align: middle;
    border-style: none;
}

.container {
    position: relative;
    width: 50%;
}

.container2 {
  margin: -12px;
  /* border: 1px solid #ccc; */
  float: left;
  /* position: relative; */
  width: 28%;
}
.hovering{
    margin: 0;
}
.image {
  opacity: 1;
  margin-left: -22px;
  margin-bottom: -21px;
  display: block;
  width: 457px;
  height: 457px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  margin-top: 64%;
  margin-left: 23%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.hovering:hover .image {
  opacity: 0.3;
}

.text {
  color: rgb(175, 175, 175);
  opacity: 0;
  margin-top: -28%;
  margin-left: 15%;
  font-size: 16px;
  padding: 16px 32px;
  position: absolute;
}

.hovering:hover .text {
  opacity: 1;
}

.well {
  white-space: nowrap;
}
.space{
  margin-bottom: 353px;
}

@media (max-width: 1871px) 
{
  .space{
    margin-bottom: 607px;
  }
}
@media (max-width: 935px) 
{
  .space{
    margin-bottom: 894px;
  }
}
@media (max-width: 623px) 
{
  .space{
    margin-bottom: 1645px;
  }
}

.album {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.album2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	margin: 0 0 0 25px;
	padding: 0;
}

figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


div.gallery {
  margin-bottom: 500px;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

div.gallery2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}